<div class='text-center'>





<h1> Powder Mountain Park </h1>
<br>
<h5 > Home of the roost and shralp since 1991. </h5>
<br>

<% if current_user.nil? %>

   <h3> Welcome, Guest! </h3>
   <br>
   
   <%= button_to "Log In", login_path, :class => "btn btn-outline-dark", :class => "btn btn-outline-dark", :method => "get" %>
   <%= button_to "Create User", new_user_path, :class => "btn btn-outline-dark", :class => "btn btn-outline-dark", :method => "get" %>
   <br>
   
<% if flash[:error] %>
<p style="color:red">  <%= flash[:error] %> </p>
<% end %>

<% else %>

<h3> Welcome, <%= current_user.name %> </h3>
<br>

<% if flash[:error] %>
   <p style="color:red">  <%= flash[:error] %> </p>
<% end %>

<% if flash[:notice] %>
    <p style="color:blue"> <%= flash[:notice] %> </p>
<% end %>


<%= button_to "View Available Lodging", available_lodging_path, :class => "btn btn-outline-dark", :class => "btn btn-outline-dark", :method => "get" %>
<br>
<%= button_to "Lift Pass History", lift_passes_path, :class => "btn btn-outline-dark", :class => "btn btn-outline-dark", :method => "get" %>
<%= button_to "Gear Rental History", gear_bags_path, :class => "btn btn-outline-dark", :class => "btn btn-outline-dark", :method => "get" %>
<%= button_to "Lodging Rental History", lodgings_path, :class => "btn btn-outline-dark", :class => "btn btn-outline-dark", :method => "get" %>
<%= button_to "Reservation History", reservations_path, :class => "btn btn-outline-dark", :class => "btn btn-outline-dark", :method => "get" %>
<br>
<%= button_to "New Reservation", new_reservation_path, :class => "btn btn-outline-dark", :class => "btn btn-outline-dark", :method => "get" %>

<br>
<%= button_to "View My Profile", user_path(current_user.id), :class => "btn btn-outline-dark", :class => "btn btn-outline-dark", :method => "get" %>
<%= button_to "Log Out", logout_path, :class => "btn btn-outline-dark", :class => "btn btn-outline-dark", :method => "get" %>

<br>
<% if current_user.admin? %>
<h3> Admin Powers: </h3>
<%= button_to "User Index", users_path, :class => "btn btn-outline-dark", :class => "btn btn-outline-dark", :method => "get" %>
<%= button_to "Create Lodging", new_lodging_path, :class => "btn btn-outline-dark", :class => "btn btn-outline-dark", :method => "get" %>
<br>
<br>
<br>

<% end %>

<% end %>

<h5> Proud to serve shredders from all corners of the world. </h5>


</div>
