<div class='text-center'>

<% if current_user.nil? %>

<h1> Powder Mountain </h1>

   <h3> Welcome, Guest! </h3>
   
   <%= button_to "Log In", login_path, :method => "get" %>
   <%= button_to "Create User", new_user_path, :method => "get" %>

<% if flash[:error] %>
<p style="color:red">  <%= flash[:error] %> </p>
<% end %>

<% else %>

<h3> Welcome, <%= current_user.name %> </h3>

<% if flash[:error] %>
   <p style="color:red">  <%= flash[:error] %> </p>
<% end %>

<% if flash[:notice] %>
    <p style="color:blue"> <%= flash[:notice] %> </p>
<% end %>


<%= button_to "View Available Lodging", available_lodging_path, :method => "get" %>
<br>
<%= button_to "Lift Pass History", lift_passes_path, :method => "get" %>
<%= button_to "Gear Rental History", gear_bags_path, :method => "get" %>
<%= button_to "Lodging Rental History", lodgings_path, :method => "get" %>
<%= button_to "Reservation History", reservations_path, :method => "get" %>
<br>
<%= button_to "New Reservation", new_reservation_path, :method => "get" %>

<br>
<%= button_to "View My Profile", user_path(current_user.id), :method => "get" %>
<%= button_to "Log Out", logout_path, :method => "get" %>

<br>
<% if current_user.admin? %>
<h3> Admin Powers: </h3>
<%= button_to "User Index", users_path, :method => "get" %>
<%= button_to "Create Lodging", new_lodging_path, :method => "get" %>

<% end %>

<% end %>

</div>
