<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
body {
   background-image: url('https://images.unsplash.com/photo-1486728297118-82a07bc48a28?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2001&q=80');
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover
}

</style>

<% if current_user.nil? %>
<div class="w3-display-topleft w3-padding-large w3-xxlarge">
<%="Powder Moutain" %>
</div>
<div class="w3-display-middle w3-center w3-animate-opacity">
   <h3 class="w3-jumbo w3-animate-top "> Welcome, Guest! </h3>
   <hr>
   <p><button class="w3-button w3-black w3-round-xxlarge">
   <%=link_to "log in","/login"%>
   </button></p>
</div>

<div class="w3-display-topleft w3-padding-large w3-xxlarge">
<% if flash[:error] %>
   <p style="color:red">  <%= flash[:error] %> </p>
<% end %>

<% else %>

<h3> Welcome, <%= current_user.name %> </h3>

<% if flash[:error] %>
   <p style="color:red">  <%= flash[:error] %> </p>
<% end %>

<% if flash[:notice] %>
    <p style="color:blue"> <%= flash[:notice] %> </p>
<% end %>


<%= button_to "View Available Lodging", available_lodging_path, :method => "get" %>
<br>
<%= button_to "Lift Pass History", lift_passes_path, :method => "get" %>
<%= button_to "Gear Rental History", gear_bags_path, :method => "get" %>
<%= button_to "Lodging Rental History", lodgings_path, :method => "get" %>
<%= button_to "Reservation History", reservations_path, :method => "get" %>
<br>
<%= button_to "New Reservation", new_reservation_path, :method => "get" %>

<br>
<%= button_to "View My Profile", user_path(current_user.id), :method => "get" %>
<%= button_to "Log Out", logout_path, :method => "get" %>

<br>
<% if current_user.admin? %>
<h3> Admin Powers: </h3>
<%= button_to "User Index", users_path, :method => "get" %>
<%= button_to "Create Lodging", new_lodging_path, :method => "get" %>

<% end %>


<% end %>
</div>