<div class='text-center'>

<h1> Powder Mountain </h1>

<% if flash[:error] %>
   <p style="color:red">  <%= flash[:error] %> </p>
<% end %>

<% if flash[:notice] %>
    <p style="color:blue"> <%= flash[:notice] %> </p>
<% end %>

<div class='login'>
<%= form_with(url: "/login", method: "post") do |f| %>

    <%= f.label :username %>
    <%= f.text_field "login[username]" %> <br>
    <%= f.label :password %>
    <%= f.password_field "login[password]" %> <br>
    <%= submit_tag("Log In") %>
<% end %>

<p> No existing account? </p>
<%= button_to "Create New Account", new_user_path, :method => "get" %>
</div>
</div>