<div class='text-center'>

<h1> <%= @user.name %> </h1>

<% if flash[:notice] %>
    <p style="color:blue"> <%= flash[:notice] %> </p>
<% end %>

    <p> Age: <%= @user.age %> </p>
    <p> Email: <%= @user.email %> </p>
    <p> Username: <%= @user.username %> </p>
    <p> Member since: <%= @user.created_at.to_date %> </p>

    <% if current_user.id == @user.id || current_user.admin? %>
    <%= button_to "Edit User Info", edit_user_path(@user.id), :class => "btn btn-outline-dark", :method => "get" %>
    <% end %>
    <% if current_user.admin? %>
    <%= button_to "Destroy This User", user_path, :class => "btn btn-outline-dark", :method => "delete" %>
    <% end %>
    <br>
    <%= button_to "Home", home_path, :class => "btn btn-outline-dark", :method => "get" %>
</div>

