<h1> <%= @user.name %> </h1>

    <p> Age: <%= @user.age %> </p>
    <p> Email: <%= @user.email %> </p>
    <p> Username: <%= @user.username %> </p>
    <p> Member since: <%= @user.created_at %> </p>

    <%= button_to "Edit User Info", edit_user_path(@user.id), :method => "get" %>
