<div class='text-center'>
<h1>Gear Bag # <%= @gear_bag.id %> </h1>

<% if @gear_bag.user.age < 18 %>
    <p style="color:red"> <%= "Under 18 shredder, must have a parent or legal guardian present to sign waiver!" %> 
<% end %>

<% if flash[:error] %>
   <p style="color:red">  <%= flash[:error] %> </p>
<% end %>

<% if flash[:notice] %>
    <p style="color:blue"> <%= flash[:notice] %> </p>
<% end %>

<p> Rental Start Date: <%= @gear_bag.start_date %> </p>
<p> Rental Return Date: <%= @gear_bag.end_date %> </p>

<% if !@gear_bag.reservation.nil? %>
<p> Gear Rental Cost: $<%= Reservation.all.find_by(id: @gear_bag.reservation.id).rental_cost %> </p>


<h4> Gear Breakdown: </h4>

    <% Reservation.all.find_by(id: @gear_bag.reservation.id).rental_eq.each do |k| %>
        <%= "#{k[1].equipment_type}: #{k[1].eq_name}" %> <br>
    <% end %>
<% end %>



<% if !@gear_bag.reservation.nil? %>
    <br>
    <% if @gear_bag.start_date >= Date.today %>
        <%= button_to "Edit Gear Bag", edit_gear_bag_path(@gear_bag.id), :class => "btn btn-outline-dark", :method => "get" %>
        <br>
    <% end %>
    <%= button_to "View Full Reservation", reservation_path(Reservation.all.find_by(id: @gear_bag.reservation.id).id), :class => "btn btn-outline-dark", :method => "get" %>
    <br>
    <%= button_to "Home", home_path, :class => "btn btn-dark", :method => "get" %>
<% end %>

<% if @gear_bag.reservation.nil? %>
<h4> Gear Breakdown: </h4>
<% @gear_bag.gb_breakdown_helper.each do |k|%>
    <%= "#{k[1].equipment_type}: #{k[1].eq_name}" %> <br>
<% end %>
<br>

<p style="color:red"> This gear bag has not been secured. Finalize reservation to secure this gear bag! </p>
<%= button_to "Return to Reservation", new_reservation_path, :class => "btn btn-outline-dark", :method => "get" %>
<br>
<%= button_to "Delete Pending Gear Rental", gear_bag_path, :class => "btn btn-danger", :method => "delete" %>
<% end %>

</div>