<div class='text-center'>
<h1> Lodging Edit Page </h1>

<% if flash[:error] %>
   <p style="color:red">  <%= flash[:error] %> </p>
<% end %>

<% if flash[:notice] %>
    <p style="color:blue"> <%= flash[:notice] %> </p>
<% end %>


<%= form_for @lodging do |f| %>
    <%= f.label :lodging_name, "Lodging Type + Number:" %>
    <%= f.text_field :lodging_name %> <br>
    <br>
    <%= f.label :price, "Price per night:" %>
    <%= f.text_field :price %>
    <br>
    <br>
    <%= f.label :description, "Description:" %>
    <%= f.text_area:description %>
    <br>
    <%= f.submit "Edit Lodging", {:class => "btn btn-outline-dark" } %>
  <% end %>

  <br>
  <%= button_to "Home", home_path, :class => "btn btn-dark", :method => "get" %>
  </div>