<div class='text-center'>
<h1> Lodging Creation Page </h1>
<br>

<% if flash[:error] %>
    <% flash[:error].each do |k,v| %>
   <p style="color:red"> <%= "#{k}: #{v}." %> </p>
    <% end %>
<% end %>


<%= form_for @lodging do |f| %>
    <%= f.label :lodging_name, "Lodging Type + Number:" %>
    <%= f.text_field :lodging_name %> <br>
    <br>
    <%= f.label :price, "Price per night:" %>
    <%= f.text_field :price %>
    <br>
    <br>
    <%= f.label :description, "Description:" %>
    <%= f.text_area:description %>
    <br>
    <%= f.submit "Create Lodging", {:class => "btn btn-outline-dark" } %>
  <% end %>
  <br>
  <%= button_to "Home", home_path,  :class => "btn btn-outline-dark", :method => "get" %>
  
  </div>